

.bg {
  background-color: initial;
}
.jumbotron-imgs {
  background-size: 100% auto ;
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;


}


.jumbotron {
  background-color: inherit;
}
.about-mee {
  margin-top: 30px;
  margin-bottom: 30px;
}
.h4-main {
  margin-right: auto;
  margin-left: auto;


}
.btn-main {

  color: #000000;

}
.work-main {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
