body {
  margin: 30px;
  background-color: #f5e0cd;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-brand{
  color: #000000;
  background-color: #FFFFFF;


}
.container-fluid {
  background-color: #FFFFFF;
}
.navbar-default .navbar-nav li a {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;


}
.navbar-default{
  background-color: #ffffff;
  border: none;
  font-family: 'Open Sans', sans-serif;
}
.navbar-header a{
  font-weight: bold;
  font-style: italic;
  background-color: #000000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
.btn {
  border-radius: 0px;
}

a {
  font-weight: bold;
  font-style: italic;
  color: #000000;
}

.modal-body,.modal-header,.modal-footer {
  background-color: #f5e0cd;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
.modal-body{
  text-align: center;
  color: #FFFFFF;
}
.modal-footer {
  border-top: none;
  font-weight: bold;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}
.modal-header {
  border-bottom: none;
  font-weight: bold;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}

.contant img {
  width: 100%;
  height: auto;
}
.contant {
  text-align: center;



}
.contant h1 {
  color: #FFFFFF;
}
.col-md-6 {

  text-align: center;
}
.jumbotron {
  background-color: inherit;
  text-align: center;
}
.col-md-6 .photo {
  background: url("../image/IMG_9454.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 468px;


}
.col-md-6 .photo a {
  font-size: 250%;
  color: #FFFFFF;
}
.col-md-6 .photo a:hover {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;

}

.col-md-6 .ai {
  background-image: url("../2D/Cigarette-01.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 468px;
}
.col-md-6 .ai a {
  font-size: 250%;
  color: #FFFFFF;
}
.col-md-6 .ai a:hover {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;

}
.ai-content .jumbotron {
  text-align: center;
  background-image: url("../2D/Isometric-01.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.jumbotron h1 {
  font-size: 72px;
  color: #f5e0cd;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin: 30px;
}
.jumbotron a {
  color: #D1D1CF;
}
.col-md-6 img {
  margin: 10px;
}
hr {
  width: 80%;
  border-color: #FFFFFF;
  border-top: 5px;
  border-style: solid;
  background-color: #FFFFFF;
}
.ai-text {
  margin: 70px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
h3,h4{
  opacity: 0.5;
}
.modal-body img {
  margin: 10px;
}
.photo-content .jumbotron {
  text-align: center;
  background-image: url("../img/landscape/IMG_3350.JPG");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.photo-content .jumbotron h1 {
  width: 90%;
  height: auto;

  font-size: 300%;
}
.ai-content .jumbotron h1 {
  width: 90%;
  height: auto;

  font-size: 300%;
}
.photo-text {
  margin: 70px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
.img-rounded {
  width: 70%;
  height: auto;
}
.quotes  {
  text-align: center;
  margin-top: 50px;

}
.quotes a {
  color: #D1D1CF;
}
.quotes h1  {

  font-family: 'Inconsolata', monospace;

  font-size: 32px;

}
.quotes p {

  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}
.col-md-12 {

  text-align: center;

}
.name {
  float: left;
}
.icon {
  float: right;
}
.modal-body a {
  color: #FFFFFF;
  text-decoration: none;

}
.col-md-4 {
  text-align: center;
}

.abm-modal-body img {
  opacity: 0.4;
}
